{% extends "base.html" %}

{% block content %}

<table class="table table-bordered table-stripped text-center">
    <thead class="table-primary">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Invoice Number</th>
            <th>Name</th>
            <th>Due date</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Rate</th>
            <th>Total</th>
            <th>Delete Invoice</th>
        </tr>
        </thead>

    <body>
        {% for i in invoice1 %}
        <tr>
            <td></td>
        </tr>